/* pravidla specificka pro generovani pdf do tiskarny */

/* titul dodava nakladatelstvi */
header {
	display: none;
}

/* kapitola zacina na prave/verso strance */
h1 {
	page-break-before: right !important;
}

/* tim se objevuji vakaty */
@page :blank {
	@bottom-left { content: "" !important; }
	@top-left { visibility: hidden; }
	@top-right { visibility: hidden; }
	@top-center { visibility: hidden; }
	@top-left-corner { visibility: hidden; }
	@top-right-corner { visibility: hidden; }
}

/* orezove znacky a spadavky kvuli sede care */
@page {
	marks: crop;
	bleed: 4mm;
	@top-left-corner { margin-left: -4mm !important; }
	@top-right-corner { margin-right: -4mm !important; }
}

/* dle domluvy zacina obsah na pate strane */
@page :nth(1 of toc) {
	counter-reset: page 5;
}

/* posun o 2 mm od stredu */
@page {
	--inner-margin: 22mm;
	--outer-margin: 18mm;
}
@page :left {
	margin-left: var(--outer-margin);
	margin-right: var(--inner-margin);
}
@page :right {
	margin-left: var(--inner-margin);
	margin-right: var(--outer-margin);
}
